<div class="container">
  <app-form 
    (serverCreated)="onAddServer($event)"
    (blueprintCreated)="onAddBlueprint($event)"
  ></app-form>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let server of serverElements"
        [element]="server"
        >
      </app-server-element>
    </div>
  </div>
</div>
